<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员登录-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{/statics/css/font.css}">
    <link rel="stylesheet" th:href="@{/statics/css/weadmin.css}">
    <script type="text/javascript" th:src="@{/statics/layui/layui.js}" charset="utf-8"></script>

</head>
<body class="login-bg">

<div class="login">
    <div class="message">校园二手平台登录</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form" >
        <input name="email" id="btnEmail" th:id="btnEmail" placeholder="邮箱"  type="text" lay-verify="required" class="layui-input" >
        <hr class="hr15">
        <input name="password" id="btnPass" th:id="btnPass" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
        <hr class="hr15">
        <input class="loginin" value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20" >
    </form>

    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-sm" id="regMember" th:id="regMember"> <i class="layui-icon">&#xe654;</i> 注册会员</button>
        <button class="layui-btn layui-btn-sm" id="regSchool" th:id="regSchool"> <i class="layui-icon">&#xe654;</i> 新增学校</button>
    </div>
</div>

<script type="text/javascript">

    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer;
        var form = layui.form;
        var $ = layui.$;

        $("#regSchool").click(function () {
            var url="/common/applySchool";
            layer.open({
                type: 2,
                area: ['600px', '450px'],
                title: '申请注册学校',
                content: [url, 'no']
            })
        });

        $("#regMember").click(function () {
            var url="/common/register";
            layer.open({
                type: 2,
                area: ['600px', '450px'],
                title: '平台会员注册',
                content: [url, 'no']
            })
        });

        // 监听表单提交事件
        form.on('submit(login)', function(data){
            console.log("提交咯");
            var emailValue = $('#btnEmail').val();
            var passValue = $('#btnPass').val();
            $.ajax({
                url:"/user/loginSyst",
                type:"POST",
                data:{'emailValue':emailValue, 'passValue':passValue},
                dataType:"json",
                success: function (data) {
                    if(data.success) {
                        console.log("成功了");
                        // ajax的回调函数直接使用超链接，调用controller里面的方法。
                        window.location.href="/common/loginIndex";
                    }else {
                        console.log("失败了");
                        // window.href="/login.html";
                    }
                }
            });
            return false;
        });

    });





</script>

</body>
</html>